body {
  box-sizing: border-box;
  background-color:#e5e8ee;
  font-family: Verdana;
  
}

#root{
  width: max-content;
  border: 1px solid black;
  border-bottom: 5px solid #28b1f7;
  position: relative;
  display: flex;
  border-radius: 10px;
  margin:  0 auto;
  justify-content: center;
  z-index: 5;
  background-color: #29303c;
}

#mainBody {
  width: max-content;
  border: 1px solid black;
  border-bottom: 5px solid #28b1f7;
  position: relative;
  display: flex;
  border-radius: 10px;
  margin:  0 auto;
  justify-content: center;
  z-index: 5;
}

h1 {
  color: #fdcd47;
  margin: 25px 5px;
}

.header{
  margin:  0 auto;
  justify-content: center;
  position: relative;
  display: flex;
}

img#logo {
  width: 100px;
  height: 100px;
}

button {
  border-radius: 20px;
  background-color: #fdcd47;
}

.mainBody {
  width: max-content;
  position: relative;
  display: flex;
  margin:  0 auto;
  justify-content: center;
  z-index: 5;
  justify-content: space-between;
  padding: 10px 10px 5px 10px;
}
.alphaLeft {
  display: flex;
  border: 1px solid black;
  border-bottom: 5px solid #28b1f7;
  padding: 5px 20px 5px 20px;
  margin: 10px 100px 5px 10px;
  border-radius: 10px;
  flex-direction: column;
  background-color: #e5e8ee;
}
.bravoRight {
  display: flex;
  border: 1px solid black;
  border-bottom: 5px solid #28b1f7;
  border-radius: 10px;
  padding: 5px 20px 5px 20px;
  margin: 10px 10px 5px 100px;
  flex-direction: column;
  align-items: right;
  background-color: #e5e8ee;
}
.bottom {
  position: relative;
  width: max-content;
  border-radius: 10px;
  margin:  25px auto 0px;
}

.resetCount{
  color: #fdcd47;
  justify-content: center;
  position: relative;
  display: flex;
}

.resetButton{
  margin-top: 5px;
  justify-content: center;
  position: relative;
  display: flex;
}

.ScoreBoard{
  background: rgba(0, 0, 0, 0.2);
  border-bottom: 5px solid #28b1f7;
  border-radius: 10px;
  margin-bottom: 25px;
  justify-content: center;
  position: relative;
  display: flex;
}

.teamStats {
  color: #28b1f7;
  margin:  25px auto 0px;

}

.score {
  margin-left: 20px;
}

h3 {
  color: #e5e8ee;
}